body {
 margin: 0;
 font-family: 'Kanit', sans-serif;
 background-color: rgb(245, 245, 245);
}

h1 {
    font-family: 'Open Sans', sans-serif;
    font-size: 25px;
    padding: 7% 0 1%;
}
.container{
    padding: 0 15%;
}
  
#heading-text {
    font-family: 'Kanit', sans-serif;
    text-align: center;
    padding: 7% 0 2%;

}
/* NAV Bar */
nav {
    font-size: 1.25em;
    font-family: 'Open Sans', sans-serif;;
    /* background-color: #ffffff8c; */
    background: transparent;
    backdrop-filter: blur(10px);
  }
.nav0 {
    padding: 0;
}
a.my-name {
    font-size: 1.75em;
    font-weight: bold;
    color: #25aae1; 
}
.nav-item {
    font-weight: 400;
    font-size: 1.25rem;
}


  

/* NAV Bar End*/

/* Header */
header {
    height: 80vh;
    background-color: rgb(245, 245, 245);
    padding: 0 10%;
    position: relative;
    display: flex;
    justify-content: center;

}
    #heading-text {
        padding-top: 30vh;
        font-size: 2rem;
    }


    .buttons {
        position: absolute;
        bottom: 1%;
        padding-top: 80px;
        font-family: 'Open Sans', sans-serif;;
        text-align: center;
    }
    .btn-hover {
        width: 180px;
        height: 50px;
        font-size: 14px;
        font-weight: 800;
        color: #181818;
        cursor: pointer;
        margin: 20px;
        
        text-align:center;
        border: none;
        background-size: 300% 100%;
        border-radius: 50px;
        moz-transition: all .4s ease-in-out;
        -o-transition: all .4s ease-in-out;
        -webkit-transition: all .4s ease-in-out;
        transition: all .4s ease-in-out;
    }
    .btn-hover:hover {
        background-position: 100% 0;
        moz-transition: all .4s ease-in-out;
        -o-transition: all .4s ease-in-out;
        -webkit-transition: all .4s ease-in-out;
        transition: all .4s ease-in-out;
    }

    .btn-hover:focus {
        outline: none;
    }
    .btn-hover.color-1 {
        background-image: linear-gradient(to right, #25aae1, #4ffef8, #62fef9, #b67fdd);
        box-shadow: 0 4px 15px 0 rgba(155, 155, 155, 0.75);
    }

/* Header End */

/* project */
.project-container{
    font-family: 'Kanit', sans-serif;
    padding: 2vh 20%;
}

.card {
    background-color:#fff;
    overflow: hidden;
}
#project .card:hover{
  filter: brightness(93%);
}


.cardtext {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 200;
    font-size: 1em;
    padding: 10px 15px 0;
}
a.viewcode {
    width: 40px;
    text-align: end;
    font-weight: bold;
    color: #25aae1;
    text-decoration: none;
    z-index: 100;
}

img.blogpost-mockup {
  width: 100%;
}
.blogpost > div {

  text-align: center;
}
.blogpost-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* skill */

.skill-item {
    text-align: center;
}


.skill {
    text-align: center;
}
.skill img {
    width: 100%;
    padding: 15%;
}

.card-title{
    font-size: 1rem;
}

.skill .card {
    margin: 10px 10px;
   width: 120px;
}
/* contact form */
h3 {
    padding-top: 15px;
    font-size: 18px;
    font-weight: 500;
    color: rgb(75, 75, 75);
}
input.form-control,textarea.form-control {
 background-color: rgb(234, 234, 234);
}
input.form-control:placeholder-shown,textarea.form-control {
font-weight: 200;
}




  
/* contact form end */
.contact-container{
    padding: 2vh 20% 10vh;
}


/* //effect hover */
/* animation reveal */
.reveal{
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: 2s all ease;
  }
  .reveal.active{
    transform: translateY(0);
    opacity: 1;
  }


.nav-item {
    padding-top: 10px;
    font-weight: 300;
    background-image: linear-gradient(to right,
        #d5a8fe,
        #6ad7ff 50%,
        #000 50%);
    background-size: 200% 100%;
    background-position: -100%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 0.3s ease-in-out;
  
  }
  .nav-item:hover {
    background-position: 0;
  }
  
  .nav-item:hover::before {
    width: 100%;
  }


  .slide-1 {
    background: linear-gradient(90deg,#6ad7ff,#40e495) no-repeat right bottom / 0 var(--bg-h);
    transition: background-size 350ms;
    --bg-h: 100%;
  }
  .slide-1:where(:hover, :focus-visible) {
    background-size: 100% var(--bg-h);
    background-position-x: left;
  }
  
  .slide-1:hover {
    color: #fff;

  }

  .slide-1 {
    text-decoration: none;
    color: inherit;
    line-height: 1;
  }

.slide-2 {
    background-image: linear-gradient(
      to right,
      #54b3d6,
      #54b3d6 50%,
      #000 50%
    );
    background-size: 200% 100%;
    background-position: -100%;
    display: inline-block;
    position: relative;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 0.3s ease-in-out;
  }
.slide-2:before {
    content: '';
    background: #54b3d6;
    display: block;
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 0;
    height: 3px;
    transition: all 0.3s ease-in-out;
  }
  
  .slide-2:hover {
   background-position: 0;
  }
  
  .slide-2:hover::before {
    width:100%;
  }

.slide-3 {
    background-image: linear-gradient(
      to right,
      #54b3d6,
      #54b3d6 50%,
      #000 50%
    );
    background-size: 200% 100%;
  background-position: -100%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 0.3s ease-in-out;
  }

.slide-3:before {
    content: '';
    background: #54b3d6;
    display: block;
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 0;
    height: 3px;

  }
.slide-3:hover {
    background-position: 0;
}
.slide-3:hover::before {
    width: 100%;
  }














/* // `lg` applies to medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {  
.project-container{
    padding: 10px 10%;
}
}
/* // `md` applies to small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) { 
.project-container{
    padding: 10px 5%;
}

}
/* // `sm` applies to x-small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {  
#heading-text{
 padding-top: 110px;
 font-size: 30px;
}
.project-container{
    padding: 10px 10%;
}
}








  
 